@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Rethink Sans", sans-serif;
}
.container{
	width: 80%;
	min-height: 200px;
	margin: auto;
	border: 1px solid lightgray;
}
.clearfix::after{
	content: "";
	clear: both;
	display: block;
}
.header{
	width: 100%;
	height: 60px;
	background-color: rgb(93, 92, 92);
}
.logo{
	width: 30%;
	height: 60px;
	margin-left: 30px;
	float: left;
}
.logo h2{
	color: rgba(255, 153, 0, 0.711);
	line-height: 60px;
}
.menu{
	width: 35%;
	line-height: 60px;
	float: right;
}
.menu a{
	padding: 6px;
	text-decoration: none;
	color: white;
}
.slider{
	width: 100%;
	height: 300px;
	background-image: url("laptop.jpg");
	background-size: 1100px 800px;
}
.info{
	width: 70%;
	padding-left: 360px;
	padding-top: 100px;
}
.slider h1{
	text-align: center;
	color: rgb(209, 202, 202);
}
.slider h2{
	text-align: center;
	color: rgb(209, 202, 202);
}
.info button{
	margin-left: 130px;
	background-color: rgba(255, 153, 0, 0.711);
	border-radius: 4px;
	font-size: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	border: none;
}
.services{
	width: 100%;
	height: 200px;
}
.services h1{
	text-align: center;
	padding-top: 70px;
}
.services p{
	text-align: center;
	padding-top: 5px;
}
.section{
	width: 100%;
	height: 300px;
}
.student{
	width: 32%;
	height: 300px;
	margin-left: 10px;
	float: left;
	
}
.student img{
	margin-left: 130px;
	margin-top: 30px;
}
.student h2{
	text-align: center;
}
.student p{
	padding-top: 20px;
	text-align: center;
}
.ser{
	width: 32%;
	height: 300px;
	margin-left: 10px;
	float: left;
	
}
.ser img{
	margin-left: 140px;
	margin-top: 30px;
}
.ser h2{
	text-align: center;
}
.ser p{
	padding-top: 20px;
	text-align: center;
}
.design{
	width: 32%;
	height: 300px;
	margin-left: 10px;
	float: left;
	
}
.design img{
	margin-left: 140px;
	margin-top: 30px;
}
.design h2{
	text-align: center;
}
.design p{
	padding-top: 20px;
	text-align: center;
}
.portfolio{
	width: 100%;
	height: 800px;
	background-color: whitesmoke;
}
.portfolio h2{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.p1{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 4%;
	float: left;
	background-color: white;
}
.p1 img{
	width: 320px;
	height: 200px;
}
.p1 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.7em;
}
.p2{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 10px;
	float: left;
	background-color: white;
}
.p2 img{
	width: 320px;
	height: 200px;
}
.p2 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.7em;
}
.p3{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 10px;
	float: left;
	background-color: white;
}
.p3 img{
	width: 320px;
	height: 200px;
}
.p3 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.7em;
}
.p4{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 4%;
	margin-top: 10px;
	float: left;
	background-color: white;
}
.p4 img{
	width: 320px;
	height: 200px;
}
.p4 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.7em;
}
.p5{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	background-color: white;
}
.p5 img{
	width: 320px;
	height: 200px;
}
.p5 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.7em;
}
.p6{
	width: 30%;
	height: 300px;
	/* border: 1px solid #000; */
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	background-color: white;
}
.p6 img{
	width: 320px;
	height: 200px;
}
.p6 h3{
	text-align: center;
	margin-top: 15px;
	font-size: 1.5em;
}
